<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.freerdp.afreerdp"
          android:installLocation="auto">

    <application
        android:name="com.freerdp.afreerdp.application.GlobalApp"
        android:icon="@drawable/icon_launcher_freerdp"
        android:label="aFreeRDP">

        <provider
            android:name="com.freerdp.freerdpcore.services.FreeRDPSuggestionProvider"
            android:authorities="com.freerdp.afreerdp.services.freerdpsuggestionprovider"/>

        <meta-data
            android:name="com.samsung.android.keepalive.density"
            android:value="true"/>

    </application>

</manifest>

